<body>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <form (ngSubmit)="loginSubmit()">
      <h3>Inicio de Sesión</h3>
  
      <label for="username">Usuario</label>
      <input type="text" [(ngModel)]="loginForm.username" name="username" placeholder="Usuario" id="username">
  
      <label for="password">Contraseña</label>
      <input type="password" [(ngModel)]="loginForm.password" name="password" placeholder="Contraseña" id="password">
  
      <button type="submit">Ingresar</button>
      <br>
      <button class="btnRegresar" [routerLink]="'/'">Regresar</button>
    </form>
  </body>