<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1 class="titulo justify-content-md-center">Picking</h1>
    </div>
  </div>
  <div class="row justify-content-md-center mt-5">
    <div class="col">
      <mat-form-field>
        <mat-label>Escoje una Fecha</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="fecha" class="input-data">
        <mat-datepicker-toggle matIconSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button class="btn col-md-3" (click)="buscarPickingByFecha()">Buscar</button><br><br>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Buscar picking...</mat-label>
        <input matInput [(ngModel)]="absEntry" class="input-data">
      </mat-form-field>
      <button class="btn col-md-3" (click)="buscarAbsEntry()">Buscar</button>
    </div>
    <!--Tabla-->
    <div class="mt-5">
      <div class="mb-2 d-flex justify-content-between align-items-center">
        <div class="position-relative">
          <span class="position-absolute search"><i class="fa fa-search"></i></span>
          <input class="form-control w-100" placeholder="Buscar por nombrePersona">
        </div>
        <div class="px-2">
          <span>Filters <i class="fa fa-angle-down"></i></span>
          <i class="fa fa-ellipsis-h ms-3"></i>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-responsive table-borderless">
          <thead>
            <tr class="bg-light">
              <th scope="col" width="5%">#</th>
              <th scope="col">Orden</th>
              <th scope="col">Fecha</th>
              <th scope="col">Estatus</th>
              <th scope="col">Surtidor</th>
              <th scope="col">Verificador</th>
              <th scope="col">Detalles</th>
            </tr>
          </thead>
          <tbody *ngFor="let picking of listaPicking">
            <tr>
              <td>{{picking.idPicking}}</td>
              <td>{{picking.absEntry}}</td>
              <td>{{picking.pickDate}}</td>
              <td>{{picking.estatus}}</td>
              <td>{{picking.surtidor?.nombrePersona}}</td>
              <td>{{picking.Verificador?.nombrePersona}}</td>
              <td><a (click)="obtenerDetallePicking(picking.idPicking,detallesModal)">Detalles</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #detallesModal let-modal>
    <div class="blog-card spring-fever">
        <div class="title-content">
          <h3><a href="#">Detalles</a></h3>
        </div>
        <div class="card-info">
            Estatus <br>
          <span>{{picking?.estatus}}</span>
        </div>
        <div class="utility-info">
          <ul class="utility-list">
            <li><span class="licon icon-like"></span><a href="#">{{picking?.absEntry}}</a></li>
            <li><span class="licon icon-dat"></span>{{picking?.pickDate}}</li>
            <li><span class="licon icon-com"></span><a href="#">{{picking?.surtidor?.nombrePersona}}</a></li>
            <li><span class="licon icon-tag"></span><a href="#">{{picking?.verificador?.nombrePersona}}</a></li>
          </ul>
        </div>
        <div class="gradient-overlay"></div>
        <div class="color-overlay"></div>
      </div><!-- /.blog-card -->
</ng-template>
