<body>
    <app-navbar-login></app-navbar-login>
    <div class="background">
      <div class="shape"></div>
      <div class="shape"></div>
    </div>
    <div class="background">
        <div class="shape1"></div>
        <div class="shape1"></div>
      </div>
    <section id="hero" class="d-flex align-items-center">

        <div class="container">
          <div class="row">
            <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
              <h1 class="img">Ananda Distribuciones</h1>
              <h2>Este Software está hecho por TI</h2>
            </div>
          </div>
        </div>
    
      </section><!-- End Hero -->
  </body>